body {
            background-image: radial-gradient(#f1e9bb, #ffdddd);
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            background-color: #333333333;
            color: #fff;
            padding: 15px 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        .nav-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5em;
        }

        .menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .menu li {
            margin-right: 20px;
        }

        h1,
        h2,
        p {
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
        }

        video {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
        }

        @media (max-width: 768px) {
            .nav-con {
                flex-direction: column;
                text-align: center;
            }

            .menu {
                margin-top: 15px;
            }
        }
